

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h4>SASA</h4>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/lookup">Tra cứu</a>
          </li>
          {% if user.role == 'renter' %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/rent">Quản lý cho thuê</a>
          </li>
          {% endif %}
          {% if user.role == 'student' %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/matchroom">Tìm ở ghép</a>
          </li>
          {% endif %}
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
          </li> -->
        </ul>
        <ul class="navbar-nav d-flex align-items-start">
          {% if user is none %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Đăng nhập</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Đăng ký</a>
            </li>
          {% else %}
            <li class="nav-item">
              
              <a class="nav-link" href="/profile">
                <img src="{{user.avatar}}" alt="" srcset="" style="width: 40px; height: 40px; border-radius: 50%;">
                {{user.name}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          {% endif %}
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
{% endblock %}