{% extends 'layouts/base.html' %}

{% block css%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}

{% block title %}
    Chi tiết
{% endblock %}

{% block content %}

<div class="row pass">
    <div class="col-md-7 pass"> 
        <div id="carouselExampleIndicators" class="carousel slide gallery" data-bs-ride="carousel"> 
            <div class="carousel-indicators"> 
            {% for image in images %} 
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></button>
            {% endfor %}          
            </div> 
        <div class="carousel-inner"> 
          {% for image in images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <a href="{{ image.url }}" data-lightbox="room-images" data-title="{{ room.name }}" onclick="event.preventDefault(); lightbox.start($(this)[0]);">
                        <img src="{{ image.url }}" class="d-block w-100" alt="...">
                    </a>
                </div>
                {% endfor %}    
        </div> 
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"> 
        <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
        <span class="visually-hidden">Previous</span> 
        </button> 
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> 
        <span class="carousel-control-next-icon" aria-hidden="true"></span> 
        <span class="visually-hidden">Next</span> 
        </button> 
        </div> 
        
    </div>         
    <div class="col-md-4 "style="text-align: left; margin-top: 1rem; margin-bottom: 1rem;"> 
        <div class = "row"> 
            <div class="mb-3"> 
                <h2> {{room.name}} </h2>
            </div>
            <div class="mb-3" id="info"> 
                <p>Ngày thêm: <strong>{{ house.created_at.strftime('%d-%m-%Y') }}</strong></p>
                <p>Địa chỉ: <strong>{{house.street + ', ' if house.street and user else ''}} {{house.ward + ', ' if house.ward else ''}} {{house.district + ', ' if house.district else ''}} {{house.city}}</strong> 
                <div class="d-flex align-items-center mt-2">
                  <a href="
                  {% if user.is_authenticated %}
                  http://maps.google.com/maps?q=loc:{{house.lat}},{{house.lon}}
                  {% else %}
                  /login
                  {% endif %}
                  " target="_blank" rel="noopener noreferrer" ><span class="badge bg-success mx-3 pointer" id="show-map">Xem bản đồ</span></a>

                  <a href='#' target="_blank" rel="noopener noreferrer" id="map-point" ><span class="badge bg-success mx-3 pointer" id="show-map"></span></a>  

                </div>
                
                  
                </p>
            </div>
            
            <div class = "d-flex pass"  style="justify-content: space-between; align-items: center;"> 
                <div class="row">  
                  <div class="d-flex" style="margin-top: 0.2rem; margin-bottom: 0;">
                    <span class="badge bg-warning text-dark me-3 ">{{caculate_rate}}/5.0</span>
                    {% for i in range(1, 6) %}
                        {% if i <= caculate_rate %}
                            <i class="fas fa-star text-warning"></i>
                        {% else %}
                            <i class="far fa-star text-warning"></i>
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
            </div> 
        <div class="" > 
            <div role="status"> 
                <h4 class="text-danger" style="margin-top: 0.4rem; margin-bottom: 0;"> 
                  {% set price = "{:,.0f}".format(room.price).replace(",", ".") %}
                  {% if user %}
                  <strong>{{ price }} VND </strong>
                  {% else %}
                  <strong>{{ price[0] + 'x'*(price|length - 1) }} VND* </strong>
                  {% endif %}          

                </h4>
            
            </div> 
            <span class="note text-muted">Chưa gồm phí dịch vụ</span>
            {% if not user %}
            <br>
            <span class="note text-muted text-danger">*Đăng nhập để xem giá và địa chỉ chính xác</span>
            {% endif %}  
        </div> 
        <h6 class ="pass">Liên hệ: <strong>
          {% if user.is_authenticated %}
          {{house.user.phone}} - {{house.user.name}}
          {% else %}
          {{house.user.phone[0:6]+'x'*4}} - {{house.user.name}}
          {% endif %}
          
        </strong></h6>
      </div> 
        <!-- <div class="row pass" style="margin-top: 1rem;"> 
            <div class="mb-3"> 
                
            </div>
        </div> -->
    </div> 
</div> 
<div class="row pass">
    <div class="col-md-7 pass"> 
      <hr>
      <div class="my-3"> 
          <h5>Thông tin chung</h5>
          <div class="row">
              <div class="col-md-6">
                  <p>Diện tích: <strong>{{room.area}} m<sup>2</sup></strong></p>
                  <p>Loại phòng: <strong>{{t.type}}</strong></p>
                  <p>Khả năng ngập*: <strong>{{t.flood}}</strong></p>
                  <p>An ninh*: <strong>{{t.safe}}</strong></p>
                  <p>Khu vực phổ biến*: <strong>{{t.rank}}</strong></p>
              </div>
              <div class="col-md-6">
                  <p>Loại: <strong>{{house.type}}</strong></p>
                  <p>Tình trạng: <strong>{{room.current_people}}/{{room.max_people}}</strong></p>
                  <p>Ở ghép: <strong>{{t.matching}}</strong></p>
                  <p>Tình trạng giao thông*: <strong>{{t.traffic}}</strong></p>
              </div>
              <span class="note text-muted">* Thông tin được cung cấp từ các dịch vụ thứ 3</span>
          </div>
      </div>
      
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Mô tả
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body" id="description-preview">
              {{ room.description | safe }}

            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="col-md-4 pass"> </div>
</div>

<div class="row pass">
    <div class="col-md-7 pass"> 
        <hr>
        <div class="my-3"> 
            <h5>Các đánh giá</h5>

            {% if user.role != 'student' %}
                <p>Vui lòng <a href="/login">đăng nhập</a> bằng tài khoản sinh viên để đánh giá</p>                
            {% else %}           
              {% if review_myself %}
              <button class="btn btn-primary" data-bs-toggle="modal" id="editReview" data-bs-target="#editReviewModal">Sửa đánh giá</button>
              {% endif %} 
            <form method="post" action="{{ url_for('review', id=room.id, house_id=house.id) }}" class="mb-3 {% if review_myself %}hidden{% endif %}">
              
              <div class="mb-3">
                <label for="reviewContent" class="form-label">Đánh giá của bạn</label>
                <textarea class="form-control" id="reviewContent" name="content" rows="3" required>{% if review_myself %}{{review_myself.content}}{% endif %}</textarea>
              </div>
              <div class="row">
                <div class="mb-3 col-5" style="max-width: 150px;">
                  <label for="safe_rate" class="form-label">An ninh</label>
                  <select class="form-select" id="safe_rate" name="safe_rate" required value="{{review_myself.safe_rate }}">
                    <option value="5">Rất tốt</option>
                    <option value="4">Tốt</option>
                    <option value="3">Bình thường</option>
                    <option value="2">Tệ</option>
                    <option value="1">Rất tệ</option>
                  </select>
                </div>
                <div class="mb-3 col-5" style="max-width: 150px;">
                  <label for="env_rate" class="form-label">Môi trường</label>
                  <select class="form-select" id="env_rate" name="env_rate" required value="{{review_myself.env_rate}}">
                    <option value="5">Rất tốt</option>
                    <option value="4">Tốt</option>
                    <option value="3">Bình thường</option>
                    <option value="2">Tệ</option>
                    <option value="1">Rất tệ</option>
                  </select>
                </div>
                <div class="mb-3 col-5" style="max-width: 150px;">
                  <label for="traffic_rate" class="form-label">Giao thông</label>
                  <select class="form-select" id="traffic_rate" name="traffic_rate" required value="{{review_myself.traffic_rate }}">
                    <option value="5">Rất tốt</option>
                    <option value="4">Tốt</option>
                    <option value="3">Bình thường</option>
                    <option value="2">Tệ</option>
                    <option value="1">Rất tệ</option>
                  </select>
                </div>
                <div class="mb-3 col-5" style="max-width: 150px;">
                  <label for="price_rate" class="form-label">Giá cả</label>
                  <select class="form-select" id="price_rate" name="price_rate" required value="{{review_myself.price_rate }}">
                    <option value="5">Rất hợp lý</option>
                    <option value="4">Hợp lý</option>
                    <option value="3">Bình thường</option>
                    <option value="2">Tệ</option>
                    <option value="1">Không hợp lý</option>
                  </select>
                </div>
                <div class="mb-3 col-5" style="max-width: 150px;">
                  <label for="flood_rate" class="form-label">Ngập úng</label>
                  <select class="form-select" id="flood_rate" name="flood_rate" required value="{{review_myself.flood_rate }}">
                    <option value="5">Không bao giờ</option>
                    <option value="4">Hiếm khi</option>
                    <option value="3">Thỉnh thoảng</option>
                    <option value="2">Thường xuyên</option>
                    <option value="1">Luôn luôn</option>
                  </select>
                </div>
                
              </div>
              {% if review_myself %}
                <button type="submit" class="btn btn-primary">Lưu lại</button>
                <a href="{{ url_for('deleteReview', id_review=review_myself.id, id_room = room.id) }}" class="btn btn-danger">Xóa đánh giá</a>
              {% else %}
                <button type="submit" class="btn btn-primary">Đánh giá</button>
                
              {% endif %}
              
            </form>
            {% endif %}
            <div class="my-2">
                {% for review in reviews %}
                <hr>
                <div class="d-flex mt-4 w-100" style="margin-top: 0.2rem; margin-bottom: 0;">
                  <div class="me-3">
                      <img src="{{review.user.avatar}}" alt="" srcset="" style="width: 40px; height: 40px; border-radius: 50%;">
                  </div>
                  <div>
                      <h6>{{review.user.name}} <span class="text-muted">{{review.created_at.strftime('%d-%m-%Y')}}</span></h6>
                      <div class="d-flex">
                          <span class="badge bg-warning text-dark me-3 ">{{review.rate}} / 5</span>
                          {% for i in range(1, 6) %}
                              {% if i <= review.rate %}
                                  <i class="fas fa-star text-warning"></i>
                              {% else %}
                                  <i class="far fa-star text-warning"></i>
                              {% endif %}
                          {% endfor %}
                      </div>
                      <p><strong>An ninh:</strong> {{review.safe_rate}}/5, <strong>Môi trường:</strong> {{review.env_rate}}/5, <strong>Giao thông:</strong> {{review.traffic_rate}}/5, <strong>Giá cả:</strong> {{review.price_rate}}/5, <strong>Ngập úng:</strong> {{review.flood_rate}}/5</p>
                      <p>{{review.content}}</p>
                  </div>
              </div>
              {% endfor %}
              
              
              
            </div>
        </div>
    </div> 
    <div class="col-md-4 pass"> </div>
</div>


{% endblock %}

{% block scripts %}
<script>
  const editBtn = document.getElementById('editReview')
  if (editBtn) {
    editBtn.addEventListener('click', function() {
      document.querySelector('form').classList.toggle('hidden');
      editReview.style.display = 'none';
    })
  }

  function distance(lat1, lon1, lat2, lon2) {
    const R = 6371.071; 
    const φ1 = lat1 * Math.PI/180; 
    const φ2 = lat2 * Math.PI/180;
    const Δφ = (lat2-lat1) * Math.PI/180;
    const Δλ = (lon2-lon1) * Math.PI/180;

    const a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +
              Math.cos(φ1) * Math.cos(φ2) *
              Math.sin(Δλ/2) * Math.sin(Δλ/2);
    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

    return (R * c * 1.2).toFixed(2);
  }

  
  
  const args = new URLSearchParams(window.location.search)
  if (args.has('lat') && args.has('lon')) {
    document.getElementById('map-point').href = `https://www.google.com/maps/dir/{{house.lat}},{{house.lon}}/${args.get('lat')},${args.get('lon')}?hl=vi`
    document.querySelector('#map-point span').innerHTML = `${distance(
      {{house.lat}},{{house.lon}},args.get('lat'),args.get('lon')
    )}km`
  }

</script>
{% endblock %}
