{% extends 'layouts/base.html' %}

{% block css%}

{% endblock %}

{% block title %}
    Sửa phòng
{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <h1>Sửa phòng mới cho trọ {{ house.name }}</h1>

    <form action="{{ url_for('editRoom', id=house.id) }}" method="post" enctype="multipart/form-data" class="row g-3">
        <div class="form-group col-md-4">
            <label for="name">Tên phòng:</label>
            <input type="text" class="form-control" id="name" name="name" required placeholder="Phòng 1"
                value="" >
        </div>
        <div class="form-group col-md-3">
            <label for="area">Diện tích (m²):</label>
            <input type="number" class="form-control" id="area" name="area" required>
        </div>
        <div class="form-group col-md-5">
            <label for="price">Giá tiền (VND):</label>
            <input type="number" class="form-control" id="price" name="price" required >
        </div>
        <div class="form-group col-md-4">
            <label for="type">Loại:</label>
            <select class="form-control" id="type" name="type" required value="" >
                <option value="tro">Phòng trọ</option>
                <option value="chungcu">Chung cư mini</option>
                <option value="nhanguyencan">Nhà nguyên căn</option>
            </select>
        </div>
        <!-- <div class="form-group col-md-5">
            <label for="image">Hình ảnh:</label>
            <input type="file" class="form-control" id="images" name="images" required multiple accept="image/*">
        </div> -->
        <div class="form-group">
            <label for="description">Mô tả:</label>
            <textarea class="form-control" id="description" name="description" rows="4" required>
                
            </textarea>
        </div>
        <div class="form-group col-md-4">
            <label for="numMax">Số người tối đa</label>
            <input type="number" class="form-control" id="numMax" name="numMax" required value="1" min="1" max="16">
        </div>
        <div class="form-group col-md-4">
            <label for="numCur">Số người đang ở</label>
            <input type="number" class="form-control" id="numCur" name="numCur" required value="0" min="0" max="16">
        </div>
        <div class="form-group col-md-4">
            <label for="matching">Tìm ở ghép</label>
            <select class="form-control" id="matching" name="matching" required>
                <option value="false">Không</option>
                <option value="true">Có</option>
            </select>
            <span>*Chỉ chọn "Có" nếu muốn tìm người ở ghép</span>
        </div>
        <div class="form-group col-md-6 d-flex justify-content-center gap-3">
            <button type="submit" class="btn btn-primary w-100">Lưu</button>
            <a href="{{ url_for('seeRooms', id=house.id) }}" class="btn btn-secondary w-100">Hủy</a>
        </div>
        
    </form>

    
{% endblock %}

{% block scripts %}
    <script>
        {% if room %}
        document.getElementById('name').value = "{{ room.name }}";
        document.getElementById('area').value = {{ room.area }};
        document.getElementById('price').value = {{ room.price }};
        document.getElementById('type').value = "{{ room.type }}";
        document.getElementById('description').value = `{{ room.description }}`
        document.getElementById('numMax').value = {{ room.max_people }};
        document.getElementById('numCur').value = {{ room.current_people }};
        document.getElementById('matching').value = "{{ 'true' if room.matching else 'false' }}"
        {% endif %}
    </script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

{% endblock %}