{% extends 'layouts/base.html' %}

{% block content %}
    <h3>Chào bạn</h3>
    {% if user is none %}
        <p>Để xem phòng trọ gần trường bạn, vui lòng <a href="/login">đăng nhập</a></p>
    {% else %}
        <p>Chào mừng bạn đến với trang web của chúng tôi, {{user.name}}. Sinh viên trường {{university}}</p>
        
        

    {% endif %}
    <h3>Tất cả trọ đang có</h3>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        {% for room in rooms %}
        <div class="col">
            <div class="card h-100">
                {% if room.images and room.images[0] %}
                <img src="{{room.images[0].url}}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{room.name}}</h5>
                    <p class="card-text">{{room.house.street + ', ' if room.house.street else ''}} {{room.house.ward + ', ' if room.house.ward else ''}} {{room.house.district + ', ' if room.house.district else ''}} {{room.house.city}}</p>
                    <a href="/detail/{{room.id}}" class="btn btn-primary">Xem thử</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    
{% endblock %}