{% extends 'layouts/base.html' %}

{% block css%}
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/addRenter.css')}}"> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}

{% block title %}
    Tra cứu
{% endblock %}

{% block content %}

    <h1>Tra cứu</h1>
    <div>
        Bạn là sinh viên trường <strong id="school">{{university}}</strong>
    </div>
    <hr>
    <form id="form" class="row g-3" enctype="multipart/form-data">
        <input type="text" name="lat" id="lat" hidden>
        <input type="text" name="lon" id="lon" hidden>
        <div class="col-md-10">
            <label for="facilities" class="form-label">Chọn gần cơ sở</label>
            <select name="facilities" id="facilities" class="form-select">
                <option value="">Không chọn</option>
    
            </select>
            <div class="invalid-feedback">
                Vui lòng nhập tên nhà trọ.
            </div>
        </div>
        <div class="col-md-3">
            <label for="city" class="form-label">Tỉnh / Thành phố</label>
            <select name="city" class="form-select" id="city">
                <option selected disabled value="">Chọn...</option>
            </select>
            <div class="invalid-feedback">
                Vui lòng chọn một tỉnh thành hợp lệ.
            </div>
        </div>
        <div class="col-md-3">
            <label for="district" class="form-label">Quận / Huyện</label>
            <select name="district" class="form-select" id="district">
                <option selected disabled value="">Chọn...</option>
            </select>
            <div class="invalid-feedback">
                Vui lòng chọn một quận huyện hợp lệ.
            </div>
        </div>
        <div class="col-md-3">
            <label for="ward" class="form-label">Xã / Phường</label>
            <select name="ward" class="form-select" id="ward">
                <option selected disabled value="">Chọn...</option>
            </select>
            <div class="invalid-feedback">
                Vui lòng chọn một xã phường hợp lệ.
            </div>
        </div>
        <div class="col-md-3">
            <label for="price" class="form-label">Giá thuê</label>
            <input type="number" name="price" id="price" class="form-control" value="2000000">
            <div class="invalid-feedback">
                Vui lòng nhập giá thuê hợp lệ.
            </div>
        </div>
        <button type="button" class="btn btn-primary"  onclick="search()">Tra cứu</button>
    </form>
    <hr>

    {% if rooms %}
    <h3>Kết quả tra cứu</h3>
    <div class="row">
        {% for room in rooms %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if room.images and room.house.distance < 25 %}
                        <img src="{{ room.images[0].url }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="/static/default.jpg" class="card-img-top" alt="No image available">
                    {% endif %}
                    <div class="card-body">
                        <h6 class="card-title">{{ room.name }}</h6>
                        <p class="card-text">{{ room.house.street }}, {{ room.house.ward }}, {{ room.house.district }}, {{ room.house.city }}</p>
                        <a href="/detail/{{ room.id }}" class="btn btn-primary">Xem thử</a>
                        <span class="badge bg-primary">{{ room.house.distance}} km </span>
                        <span class="badge bg-primary">Khả năng ngập xung quanh: {{ room.house.flood }} </span>
                        <p>Giá thuê: <strong>{{ room.price }} VND</strong> / tháng</p>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('lookup', page=page-1) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for p in range(1, (total // per_page) + 2) %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('lookup', page=p) }}">{{ p }}</a>
                </li>
            {% endfor %}
            {% if page < (total // per_page) + 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('lookup', page=page+1) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock %}

{% block scripts %}
    <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-+T2lXZV5VXt+2Zl2+3+L8v+u3l7lCt5xjzj3h9b5ZpA=" crossorigin=""></script> -->
    <script src="{{url_for('static', filename='js/lookup.js')}}"></script>
    <script src="{{url_for('static', filename='js/address.js')}}"></script>
{% endblock %}

