{% extends 'layouts/base.html' %}

{% block css%}
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/addRenter.css')}}"> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}

{% block title %}
    Tra cứu
{% endblock %}

{% block content %}

    <h1>Quản lý nhà trọ</h1>
    <div>
        <a href="{{ url_for('addRenter') }}" class="btn btn-primary">Thêm trọ</a>
    </div>
    <div class="rental-list">
        
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên nhà trọ</th>
                <th>Địa chỉ</th>
                <th>Số lượt ghé</th>
                <th>Số lượng phòng</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            {% for house in houses %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ house.name }}</td>
                    <td style="width: 40%;">{{ house.full_address }}</td>
                    <td>0</td>
                    <td>{{ house.n }}</td>
                    <td>
                        <a href="{{ url_for('seeRooms', id=house.id) }}" class="btn btn-secondary">Quản lý phòng</a>
                        <a href="{{ url_for('deleteHouse', id=house.id) }}" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block scripts %}
    <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-+T2lXZV5VXt+2Zl2+3+L8v+u3l7lCt5xjzj3h9b5ZpA=" crossorigin=""></script> -->
{% endblock %}

