{% extends 'layouts/base.html' %}

{% block css%}
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/addRenter.css')}}"> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}

{% block title %}
    Tra cứu
{% endblock %}

{% block content %}

    <h1>Quản lý phòng của trọ {{ house.name }}</h1>
    <div>
        <a href="{{ url_for('rent') }}" class="btn btn-secondary">Quay lại</a>
        <a href="{{ url_for('editHouse', id=house.id )}}" class="btn btn-primary">Sửa thông tin</a>
        <a href="{{ url_for('addRoom', id=house.id )}}" class="btn btn-success">Thêm phòng</a>
        
    </div>
    
<table class="table table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên phòng</th>
            <th>Diện tích (m2)</th>
            <th>Giá (đ)</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        {% for room in rooms %}
            <tr class="room-row" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Diện tích: {{ room.area }} m2<br>Giá: {{ room.price }} đ">
                <td>{{ loop.index }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.area }}</td>
                <td>{{ room.price }}</td>
                <td>{{ room.current_people}}/{{ room.max_people }}</td>
                
                <td>
                    <a href="{{ url_for('editRoom', id=room.id) }}" class="btn btn-secondary">Sửa</a>
                    <a href="{{ url_for('deleteRoom', id=room.id) }}" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}

{% block scripts %}
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}

